
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  body {
    background-image: url(https://media.istockphoto.com/photos/locked-self-storage-unit-picture-id160321684?b=1&k=20&m=160321684&s=170667a&w=0&h=Wj4AsNUSONHi45_Nx5lDV2Ugi4CZSmqImkKqVmisvSM=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
  }
  
  .input-field input[type="date"]:focus + label,
  .input-field input[type="text"]:focus + label,
  .input-field input[type="email"]:focus + label,
  .input-field input[type="password"]:focus + label {
    color: #1e4de9;
  }
  
  .input-field input[type="date"]:focus,
  .input-field input[type="text"]:focus,
  .input-field input[type="email"]:focus,
  .input-field input[type="password"]:focus {
    border-bottom: 2px solid #1e4de9;
    box-shadow: none;
  }
  
  