
    <div class="windowOne">
      <div class="border border-primary" style="width: 75vw">
        <div class="custButtons">
          <button
            id="viewEmployeeButton"
            type="button"
            class="btn btn-outline-primary custButtons"
          >
            View Employee
          </button>
          <button
            id=""
            type="button"
            class="btn btn-outline-primary custButtons"
          >
            Add Employee
          </button>
          <button
            id=""
            type="button"
            class="btn btn-outline-primary custButtons"
          >
            Delete Employee
          </button>
        </div>
        <ul>
          <!-- <li id="toDoItems"></li> -->
        </ul>
      </div>
        <div class="border border-primary" style="width: 100vw">
        <div id="unitInfo" class="topBox">Customer information goes here</div>
        <p> THIS WAS RENDERED FROM A GET</p>
        {{#each employeeDaata as |Employee|}}
        <p>{{Employee.id}}</p>
        <p>{{cEmployee.first_name}}</p>
        {{/each}}
      </div>
    </div>