<div class="windowOne">
  <div class="border border-primary" style="width: 75vw">
    <div class="custButtons">
      <button
        id="assignUnitsButton"
        type="button"
        class="btn btn-outline-primary custButtons"
      >
        Assign Units
      </button>
      <button
        id="removeUnitButton"
        type="button"
        class="btn btn-outline-primary custButtons"
      >
        Remove Units
      </button>
    </div>
    <div class="unitCards">
      {{#each renderedUnits as |units|}}

        {{> allUnit-partial}}


      {{/each}}

    </div>

  </div>
  <div class="border border-primary rightPanelStorage">
    <div class="canvasChartStorage">
      <canvas id="myChart"></canvas>
    </div>
  </div>

</div>

<script>
  let myChart = document.getElementById("myChart").getContext("2d"); 
  let massPopChart = new Chart(myChart, 
  { type: "doughnut", 
  data: { 
    labels: [
  "Available Units", "Reserved Units" ], 
  datasets: [ { 
    labels:
  "Unit-Availability", 
  data: [{{available}}, {{unavailable}}],
  backgroundColor: ['#00ff55','#dd3030'] }, ], }, 
  
  options: {}, });
  console.log(available, unavailable)
</script>